Back-End/flows_app1_challenger_hub.json
[
    {
        "id": "b7f360aa.ef3a1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "92939c81.ecd42",
        "type": "mqtt out",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "bd25ca73.393fc8",
        "type": "mqtt in",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "acf6accb.4f715"
            ]
        ]
    },
    {
        "id": "f17d427d.0f3b6",
        "type": "mqtt in",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "72ef70b7.fce42"
            ]
        ]
    },
    {
        "id": "d7e6af37.a41ba",
        "type": "mqtt out",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "72ef70b7.fce42",
        "type": "function",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "d7e6af37.a41ba",
                "6a00b73.a5a6748"
            ]
        ]
    },
    {
        "id": "acf6accb.4f715",
        "type": "function",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "8d5d226.5d0f6e",
                "92939c81.ecd42"
            ]
        ]
    },
    {
        "id": "8d5d226.5d0f6e",
        "type": "debug",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "6a00b73.a5a6748",
        "type": "debug",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "e69b0abd.079de8",
        "type": "join",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 160,
        "y": 560,
        "wires": [
            [
                "b6b92851.5db9b8"
            ]
        ]
    },
    {
        "id": "b6b92851.5db9b8",
        "type": "function",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "23b31d6b.a37852"
            ]
        ]
    },
    {
        "id": "23b31d6b.a37852",
        "type": "debug",
        "z": "b7f360aa.ef3a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 560,
        "wires": []
    }
]